@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
  
    font-family: 'Poppins', sans-serif;
}
.header{
  height: 120vh;
  width: 1500px;
   
  background-color: #636C79;
  /* background-color: red; */
  
}
.navbar{
     padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 95vw;

}
.logo{
   margin-left: 70px;
   width: 120px;
}
.list{
    display: flex;
    list-style-type: none;
   
    width: 600px;
    justify-content: space-around;
    align-items: center;
    margin-left: 280px;

}
.list-item{
 color: #fff;
}
.nav-btn>button{
  /* margin-right: 70px; */
  padding: 12px 48px;
  border: 0.1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.fa-solid{
    display: none;
}
.hero{
  margin-left: 70px;
  display: flex;
  margin-top: 50px;
  gap: 80px;
}
.hero-img{
     margin-left: 30px;
}
.hero-right-head{
    font-size: 45px;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
}
.hero-right-para{
    margin-top: 15px;
    color: #fff;
}
#hero-email{
   margin-top: 50px;
   padding: 15px; 
   padding-right: 230px;
   
  
}
 .green-btn{
      /* height: 50px;
      width: 150px; */
      padding: 12px 43px;
      background-color: #8BB7A2;
      border: none;
      color: #fff;

  }
.head{
    position: relative;
    right: 147px;

} 
.connect-buisness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 110px;
    width: 1500px;
    text-align: center;
}
.connect-buisness-head{
   font-size: 40px;
   color: rgb(27,29,33);
   font-weight: 600;
}
.buisness-data{
     
    /* margin-left: 70px; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
     
     
}
.data h2{
  font-size: 34px;
  font-weight: 600;
}
.data p{
  font-size: 14px;
}
[alt="buisness-img"]{
    margin-top: 40px;
    width: 1100px;
    margin-left: 20px;
    height: 500px;
}
.care{
   margin-top: 110px;
   margin-left: 120px;
}
.care-head{
text-align: center;
font-size: 45px;
color: rgb(27,29,33);
font-weight: 600;
}
.care-content{
    display: flex;
    margin-top: 120px;
    gap: 100px;
}
.care-left{
    margin-top: 60px;
     
}
.care-left-head1{
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
}
.care-left-para1{
 
    margin-top: 18px;
    color: #56575A;
}
.content.green-btn{
 
    margin-top: 40px;
    font-weight: 700;
}
[alt="care-right-img"]{
    width: 500px;
    height: 400px;
}
 
.digital-marketing{
    margin-top: 70px;
    margin-left: 120px;
    display: flex;
    gap: 100px;
}
[alt="marketing-img"]{
    height: 530px;
    width: 500px;
}
.dm-right-head1{
    margin-top: 120px;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3;
}
.dm-right-para1{
    margin-top: 18px;
}
.dm.green-btn{
  margin-top: 40px;
  font-weight: 700;
}
.judge{
    display: flex;
    margin-top: 120px;
    gap: 100px;
    margin-left: 120px;
}
.judge-left{
   
    margin-top: 60px;
}
.judge-left-head1{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}
.judge-left-para1{
    margin-top: 18px;
    color: #56575A;
}
.jud.green-btn{
    margin-top: 40px;
    font-weight: 700;
}
.judge-right-img{

     height: 400px;
}
.team-top{
  margin-top: 120px;
  margin-left: 120px;
  display: flex;
  gap: 280px;
}
.top-left h2{
    
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}
.top-right p{
  margin-top: 8px;
  color: #56575A;
}
.team-bottom{
  margin-left: 120px;
  margin-top: 70px;
  display: flex;
  gap: 70px;
}
.team-member1{

}
.member-img{
   width: 300px;
   height: 450px;
}
.member-name{
  margin-top: 10px;
}
.member-info{
  margin-top: 20px;
  font-size: 14px;
  color: #56575A;
}
.team-button{
    text-align: center;
}
.team-button>button{
    margin-top: 30px;
    text-align: center;
    padding: 15px 50px;
    font-weight: 500;
    font-size: 18px;
}
.footer-container{
    background-color: #0C1622;
    margin-top: 90px;
    height: 500px;
}
.footer-top{
     
    display: flex;
    justify-content: space-between;
     
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid #fff;
    align-items: center;
    height: 150px;
}
.footer-logo{
   width: 120px;
}
 
.footer-bottom{
 margin-left: 100px;
 margin-top: 50px;
 display: flex;
 gap: 105px;
}
.footer-heading{
  color: #fff;
  font-weight: 500;
}
.footer-item{
  
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    line-height: 2.9;
}
.footer-item:nth-child(2){
    margin-top: 20px;
}
@media screen and (max-width : 1260px) {
     
    .header{
       
        width: 1500px;
        background-color: #636C79;
          
       }
       .footer-container{
        width: 1500px;
    }

    
}
@media screen and (max-width : 1180px) {
    .header{
       
       width: 1500px;
       background-color: #636C79;
         
      }
       .footer-top{
        margin-right: 200px;
       }
}
@media screen and (max-width: 850px) {
    .list,.nav-btn{
         display : none
    }
    .fa-solid{
        display: block;
        color: #fff;
        width: 50px;
        margin-left: 900px;
    }
    .care,.digital-marketing,.judge,.creative-teams{
        width: 1300px;
    }
}
@media screen and (max-width:610px) {
    [alt="buisness-img"]{
         
        width: 800px;
        height: 500px;
    }
    .care-content, 
    .digital-marketing,.judge{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}